@import url("https://fonts.googleapis.com/css?family=Pacifico|Quicksand|Scope+One|Nunito+Sans");
/** FONTS **/

$heading-font--cursive: "Pacifico", cursive;
$subHeading-font--serif: "Quicksand", sans-serif;
$button-font--bold: "Scope One", serif;
$select-font: "Quicksand", sans-serif;
$body-font: "Quicksand", sans-serif;
$nunito: "Nunito Sans", serif;

/** COLORS **/
$asphalt: rgba(52, 73, 94, 1);
$midnight: rgba(44, 62, 80, 1);
$hotpink: rgba(255, 76, 90, 1);
$flatred: rgba(231, 76, 60, 1);
$river: rgba(52, 152, 219, 1);
$clouds: rgba(236, 240, 241, 1);
$turq: rgba(26, 188, 156, 1);
$green-turq: rgba(22, 160, 133, 1);
$emerald: rgba(46, 204, 113, 1);
$silver: rgba(227, 227, 227, 1);

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.Survey {
    color: $asphalt;
}
.Survey__loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(105, 105, 105);
    z-index: 1;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    &__icon {
        color: white;
        font-size: 4rem;
        font-family: $nunito;
        margin-top: 3rem;
        animation: spin 10s linear infinite;
    }
}

.Survey__loading__heading {
    color: white;
    font-size: larger;
    text-transform: uppercase;
    font-family: $nunito;
    letter-spacing: 3px;
}
.Survey__content {
    padding: 1rem;
}
.Survey__heading {
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    color: $flatred;
    letter-spacing: 3px;
    font-family: $nunito;
}

.Survey__heading h1 {
    font-size: x-large;
}
.Survey__tabs {
    border: solid 2px gray;
    margin: auto;
    border-radius: 10px;
    .Tabs__head {
        background: $silver;
        font-size: 1.4rem;
        border-radius: 10px 10px 0px 0px;
    }
}
.Survey__goto {
    margin-top: 3rem;
    display: flex;
}
.next-btn,
.back-btn {
    font-size: 1.3rem;
    border: 0px;
}
.next-btn {
    margin-left: auto;
    background-color: $green-turq !important;
}
.back-btn {
    font-size: 1.3rem;
    background-color: $hotpink !important;
}
.Survey__input--custom {
    margin-left: 0;
    input {
        padding: 1rem 3rem;
        border-radius: 0;
        font-size: 1rem;
        border-color: #e3e3e3;
        color: $turq;
        &:focus {
            color: $flatred;
        }
    }
}
//larger screens
@media (min-width: 900px) {
    .Survey__content {
        padding: 3rem 6rem;
    }
    .Survey__heading {
        margin: 0 0 2rem 0;
    }
    .Survey__tabs {
        width: 40rem;
    }
    .Survey__input--custom {
        margin-left: 2rem;
        input {
            padding: 1rem 3rem;
            border-radius: 0;
            font-size: 1rem;

            color: $turq;
            margin-right: 2rem;
            &:focus {
                color: $flatred;
            }
        }
    }
}

.Survey ul {
    margin: 0;
    padding: 0;
}

.Survey li {
    cursor: pointer;
    list-style-type: none;
    margin: 0.4rem 0;
}

.Survey a {
    text-decoration: none;
}

.Survey label {
    margin: 0 1rem;
}

.Survey input {
    margin: 0.5rem;
    min-width: 3rem;
    border: 0;
    border-bottom: solid 1px;
    &:focus {
        outline: none;
    }
}
