$asphalt: rgba(52, 73, 94, 1);
.Plan__tabs {
    padding: 0;
    margin-top: 1rem;

    .Tabs__head {
        flex-flow: row nowrap;
        flex: 100%;
        overflow-x: scroll;
        white-space: nowrap;
        justify-content: center;
        color: $asphalt;
    }

    .Tabs__content {
        padding-top: 0;
    }
}

form.save-form {
    float: right;
    margin-right: 1rem;
}

.Plan ul {
    margin: 0;
    padding: 0;
}

.Plan li {
    cursor: pointer;
    list-style-type: none;
    margin: 0.4rem 0;
}

.Plan a {
    text-decoration: none;
}
