#parent {
    display: block;
    padding: 50px;
    text-align: center;
}

#sad-face {
    display: block;
    margin: auto;
    width: 150px;
    height: 150px;
}

#big-title {
    color: deeppink;
    font-weight: 800;
    font-size: xxx-large;
}

#title {
    color: darkslategray;
    margin-top: 60px;
}

#message {
    margin-top: 20px;
    font-size: x-large;
    color: dimgray;
}

#link:hover {
    color: deeppink;
}

#link {
    color: dimgray;
}