@import "bootstrap/dist/css/bootstrap.css";


.recipe-label{
    text-align: center;
    font-weight: bold;
}
.recipe-row{
    margin: 5px 30px 15px;
}

::-webkit-scrollbar {
	width: 0px;
}

.recipe-image{
    width:  100%;
    height: 200px;
    object-fit: cover;
}

.info-btn{
    margin-top: 4px;
}
ol{
    list-style-type: none;
}

/* appending the commas */
span:after { content: ", "; }

/* removing it for the last index */
span:last-of-type:after { content: "."; }

.recipe-title, .more-info{
    font-weight: bold;
    text-align: center;
}
