{%- extends "bootstrap/base.html" %}
{% block title %}Food Hunt{% endblock %}
{% import "bootstrap/fixes.html" as fixes %}

{% block head %}
{{super()}}
<link rel="shortcut icon" type="image/jpg" href="/favicon.ico" />
{%- endblock %}

{% block styles -%}
{{super()}}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="shortcut icon" type="image/jpg" href="/favicon.ico" />
<style>
    .alert {
        margin-top: 20px;
        font-size: 2.25rem;
        top: 2.75rem;
        display: table;
    }

    .alert-message {
        display: table-cell;
        text-align: center;
    }

    img {
        height: auto;
        width: 100%;
    }

    h2 {
        margin-bottom: 3rem;
        font-size: 3.25rem;
    }

    .control-label {
        display: none;
    }

    .form-group {
        margin-bottom: 0;
        width: 100%;
    }

    .form-control {
        font-size: 3.25rem;
        padding: 2.5rem 1rem;
    }

    .btn {
        font-size: 3.25rem;
        padding: 0.5rem 1rem;
    }

    .help-block {
        font-size: 2.25rem;
        font-weight: 500;
    }

    .redirect-link {
        font-size: 2rem;
    }
</style>
{% endblock %}