{% import "bootstrap/wtf.html" as wtf %}
{%- extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row mt-4 align-items-center mx-3">
        <div class="col-md-5 p-lg-5 mb-5 mb-md-0">
            <img src="pepper.png" />
            <div class="redirect-link text-center w-100">
                <p class="text-muted font-weight-bold">Don't Have an Account? <a href="/signup"
                        class="text-primary ml-2">Sign Up</a></p>
            </div>
        </div>
        <div class="col-md-7 col-lg-6 mx-auto">
            <form class="form-signin" method="POST" action="/login">
                <h2 class="form-signin-heading">Please Log In</h2>
                {{ form.hidden_tag() }}

                <!-- Username -->
                <div class="input-group col-lg-12 mb-5">
                    {{ wtf.form_field(form.username, class="form-control form-control-lg bg-white border-md") }}
                </div>
                <!-- Password -->
                <div class="input-group col-lg-12 mb-5">
                    {{ wtf.form_field(form.password, class="form-control form-control-lg bg-white border-md") }}
                </div>
                <!-- Submit button -->
                <div class="form-group col-lg-12 mx-auto mb-0 px-0">
                    <button class="btn btn-success btn-block py-2" type="submit">
                        <span class="font-weight-bold">Log In</span>
                    </button>
                </div>
            </form>

            {% with messages = get_flashed_messages(category_filter=["error"]) %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger alert-dismissible col-lg-12" role="alert">
                <div class="alert-message">
                    {{ message }}
                </div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </div>
</div> <!-- /container -->
{% endblock %}